extends layout

block content
	section.page-intro.section-dark
		h1.brand-heading About Us
		p.lead Hear our wild donut story
	section.about-story.section-light
		figure.story-figure
			img(src='/images/about-photo.jpg' alt='The Original Downtown Donuts Team' class='story-image')
			figcaption.story-caption Donut Superstars Start Super Donut Shop.
		.story-text
			h2 The year is 1992
			p When I was a small boy my mother had a dream of running a family donut shop.
			p Unfortunately she was incarcerated before she could fulfil her dream for our family.
			p Fortunately my foster family was familiar with baking and amenable to the concept of shaping dough into circles. We were off to the races.