extends layout

block content
	main
		section
			h1 Welcome to Downtown Donuts
			p Fresh donuts and coffee since 1992.
		section
			h2 Our Best Sellers
			p Coming soon.
		section
			h2 Order Online
			a(href='https://www.ubereats.com') Uber Eats
			a(href='https://www.doordash.com') DoorDash