extends layout

block content
	section.hero
		.hero-content
			img(src='/images/logo_dark.jpg' alt='Downtown Donuts logo' class='hero-logo')
			a(href='/menu' class='btn btn-primary') View Our Menu
	section.best-sellers
		h2 Our Best Sellers
		.grid-cards
			a(href='/menu' class='card')
				img(src='/images/glazed.png' alt='Classic glazed donut')
				h3 Classic Glazed
				p Our legendary original - light, fluffy, and perfectly glazed
			a(href='/menu' class='card')
				img(src='/images/chocolate.jpg' alt='Chocolate Old Fashioned donut')
				h3 Chocolate Old Fashioned
				p Sour cream donut with rich chocolate glaze
			a(href='/menu' class='card')
				img(src='/images/maple_bacon_bar.jpg' alt='Maple Bacon Bar')
				h3 Maple Bacon Bar
				p Rich maple glaze topped with crispy applewood bacon

	section.page-break
	
		h2 Order Online
		p Get Donuts delivered to your door.
		.order-links
			a(href='https://www.ubereats.com' class='btn btn-outline') Uber Eats
			a(href='https://www.doordash.com' class='btn btn-outline') DoorDash
			a(href='https://www.grubhub.com' class='btn btn-outline') GrubHub