extends layout

block content
	section.hero
		.hero-content
			img(src='/images/logo_dark.jpg' alt='Downtown Donuts logo' class='hero-logo')
			a(href='/menu' class='btn btn-primary') View Our Menu
	section.best-sellers
		h2 Our Best Sellers
		.grid-cards
			article.card
				img(src='/images/glazed.png' alt='Classic glazed donut')
				h3 Creamed Core
				p Glazed all around the hole
			article.card
				img(src='/images/chocolate.jpg' alt='Chocolate Old Fashioned donut')
				h3 Big Brown Eye
				p Doo doo doo, looking out your backdoor
			article.card
				img(src='/images/maple_bacon.jpg' alt='Maple Bacon Bar')
				h3 Canada Stick
				p Thick maple log

	section.page-break
	
		h2 Order Online
		p Get Donuts delivered to your door.
		.order-links
			a(href='https://www.ubereats.com' class='btn btn-outline') Uber Eats
			a(href='https://www.doordash.com' class='btn btn-outline') DoorDash
			a(href='https://www.grubhub.com' class='btn btn-outline') GrubHub