doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			nav(aria-label='Main navigation')
				a(href='/landing' aria-current=(currentPage === 'landing' ? 'page' : false)) Home
				span  |  
				a(href='/menu' aria-current=(currentPage === 'menu' ? 'page' : false)) Menu
				span  |  
				a(href='/about' aria-current=(currentPage === 'about' ? 'page' : false)) About Us
				span  |  
				a(href='/comments' aria-current=(currentPage === 'comments' ? 'page' : false)) Comments
		main(id='main-content')
			block content
		footer
			p OPEN DAILY
					p Mon-Fri 6AM-6PM  |  Sat-Sun 7AM-4PM
					p.order-links.inline
						a(href='https://www.ubereats.com') UberEats
						span  |  
						a(href='https://www.doordash.com') DoorDash
						span  |  
						a(href='https://www.grubhub.com') GrubHub
					p Downtown Donuts  |  123 Main Street, Downtown  |  (555) 867-5309  |  www.downtowndonuts.com